<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>My App</title>
  <script src="https://d3js.org/d3.v5.min.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <link rel="stylesheet" href="./static/css/style.css">
</head>

<body>
  <div class="container">
    <h1>Country</h1>
    <p>Use the interactive charts below to explore the dataset</p>

    <aside>
      <select></select>
      <div id="metadata"></div>
    </aside>

    <main>
      <div id="bar"></div>
      <div id="genderChart"></div>
    </main>

    <!-- <div id="genderDiv"> -->
      <div>
      <select id="select"></select>
      <div id="map"></div>
    </div>
  </div>

  <!-- <script src="{{ url_for('static', filename='js/app.js') }}"></script>  -->
  <script src="https://d3js.org/d3.v7.min.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script src="./static/js/app.js"></script>
  <!-- <script src="./static/js/bonus.js"></script> -->

</body>

</html>